<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="app_log">log/app.log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%12t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="App" fileName="${app_log}">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%12t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="com.fintech.apis.dao.MoneyTransferDAO" level="info" additivity="true">
            <AppenderRef ref="App"/>
        </Logger>
        <Logger name="com.fintech.apis.AccountAPITest" level="info" additivity="true">
            <AppenderRef ref="App"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>